<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="1" name="C:/Users/Praveen/IdeaProjects/Learnings/Framework_RestAssured">
        <classes>
            <class name="org.restAssured.tests.GetTest">
                <methods>
                    <include name="getAllEmployeesDetails"/>
                    <include name="getEmployeeDetails"/>
                </methods>
            </class>
            <class name="org.restAssured.tests.PostTest">
                <methods>
                    <include name="postReq"/>
                    <include name="postReqUsingExternalFile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>